@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);




#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #093550;
}
#ext_menu-0 .mbr-navbar__section {
  background: #093550;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #3d8eb9;
}
#ext_menu-0 .mbr-navbar__items a {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#header1-1 H1 {
  color: #ffffff;
  text-align: right;
  font-size: 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header1-1 P {
  color: #efefef;
  text-align: right;
  font-family: 'Oswald', sans-serif;
}
#header1-1 .btn {
  font-size: 18px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#social-buttons2-2 .mbr-header__text {
  color: #efefef;
}












#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #093550;
}
#ext_menu-4 .mbr-navbar__section {
  background: #093550;
}
#ext_menu-4 .mbr-navbar__hamburger {
  color: #3d8eb9;
}
#ext_menu-4 .mbr-navbar__items a {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-5 .mbr-header__text {
  color: #ffffff;
  text-align: left;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5 .mbr-article {
  color: #ffffff;
}
#msg-box4-5 .mbr-article P {
  text-align: left;
  font-size: 22px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-5 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}
#msg-box4-5 .mbr-header__text P {
  text-align: left;
  font-family: 'Oswald', sans-serif;
}
#msg-box5-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-9 .mbr-article {
  color: #ffffff;
}
#msg-box5-9 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}
#msg-box5-9 .mbr-article P {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
}
#msg-box4-a .mbr-header__text {
  color: #ffffff;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a .mbr-article {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
}
#msg-box4-a .mbr-article P {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
}
#msg-box4-a .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}
#social-buttons1-6 .mbr-header__text {
  color: #efefef;
  font-family: 'Slabo 27px', serif;
}
